@using Microsoft.AspNet.Identity
@using MvcSiteMapProvider.Web.Html
@using SIMEDECON.Metodos
<!DOCTYPE html>
<html lang="es">
<head>
    @* CAMBIAR NOMBRE OFICIAL A REMEDE O REGISTRO MEDICO DEPORTIVO *@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>REMEDE | @ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link href="~/Content/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <!-- iCheck -->
    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- overlayScrollbars -->
    <link href="~/Content/OverlayScrollbars.min.css" rel="stylesheet" />
    <!-- Daterange picker -->
    <link href="~/Content/daterangepicker.css" rel="stylesheet" />
    <!-- summernote -->
    <link href="~/Content/summernote-bs4.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    @* Renderizado de secciones de Estilo*@
    @RenderSection("Listar_Atletas_Css", required: false)
    @RenderSection("Crear_Historial_Medico_Css", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- User Dropdown Menu -->
                <li class="nav-item dropdown user-menu">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Image/user2-160x160.jpg" class="user-image img-circle elevation-2" alt="User Image">
                        <span class="d-none d-md-inline">@User.Identity.GetUserName()</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <!-- User image -->
                        <li class="user-header bg-primary">
                            <img src="~/Image/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">

                            <p>
                                @User.Identity.GetUserName()
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="row">
                                <div class="col-4 text-center">
                                    <a href="#">Followers</a>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="#">Sales</a>
                                </div>
                                <div class="col-4 text-center">
                                    <a href="#">Friends</a>
                                </div>
                            </div>
                            <!-- /.row -->
                        </li>
                        <!-- Menu Footer-->
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "user-footer" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="@Url.Action("Index", "Manage")" class="btn btn-default btn-flat">Perfil</a>
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat float-right">Cerrar Sesion</a>
                        }

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">

            @if (User.IsInRole("Administrador"))
            {
                <!-- Brand Logo -->
                <a href="@Url.Action("ViewAdministrador", "Home")" class="brand-link">
                    <img src="~/Image/aqui esta.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8;background-color:#ffffff">
                    <span class="brand-text font-weight-light">REMEDE</span>
                </a>
            }
            else if (User.IsInRole("Medico"))
            {
                <!-- Brand Logo -->
                <a href="@Url.Action("ViewMedico", "Home")" class="brand-link">
                    <img src="~/Image/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>
                </a>
            }

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview @Html.ActiveLi("Home", "ViewAdministrador")"> <!-- Para Abrir el menu Agregar cada ruta de acceso Pendiente-->
                            <a href="#" class="nav-link @Html.ActivePage("Home", "ViewAdministrador")">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("ViewAdministrador", "Home")" class="nav-link @Html.ActivePage("Home", "ViewAdministrador")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview @Html.ActiveLi("Atleta", "Index")"> <!-- Para Abrir el menu Agregar cada ruta de acceso Pendiente-->
                            <a href="#" class="nav-link @Html.ActivePage("Atleta", "Index")">
                                <i class="nav-icon fas fa-window-restore"></i>
                                <p>
                                    Atletas
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item ">
                                    <a href="@Url.Action("", "")" class="nav-link ">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Crear</p>
                                    </a>
                                </li>
                                <li class="nav-item ">
                                    <a href="@Url.Action("Index", "Atleta")" class="nav-link @Html.ActivePage("Atleta", "Index")">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Listar</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-item">
                                <a href="pages/widgets.html" class="nav-link">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Widgets
                                        <span class="right badge badge-danger">New</span>
                                    </p>
                                </a>
                            </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@Html.MvcSiteMap().SiteMapTitle() <small style="text-transform:capitalize"> @ViewBag.Nombre</small></h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">@Html.MvcSiteMap().SiteMapPath() </li>

                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2019-2024 <a href="http://con.org.ni">Comité Olímpico Nicaragüense</a>.</strong>
            Derechos Reservados .
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Scripts/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Scripts/sparkline.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Scripts/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Scripts/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/Scripts/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Scripts/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Scripts/demo.js"></script>
    @* Renderizado de secciones de Script*@
    @RenderSection("Crear_Historial_Medico_Script", required: false)
</body>
</html>
