@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav ml-auto">
    <li>
        <a class="btn btn-outline-info my-2 btn-circle  waves-circle waves-float float-right" data-toggle="tooltip" title="Administrar" style="display: block; margin: 0 auto;" href="@Url.Action("Index", "Manage")">@User.Identity.GetUserName() <i class="fas fa-cog"></i></a>
    @*@Html.ActionLink(User.Identity.GetUserName() + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
    </li>    
     &nbsp
    <li>
        <a class="btn btn-outline-danger my-2 btn-circle  waves-circle waves-float float-right" data-toggle="tooltip" title="Cerrar sesión" style="display: block; margin: 0 auto;" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión <i class="fa fa-sign-out-alt"></i></a>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li><a class="btn btn-outline-success my-2 btn-circle  waves-circle waves-float float-right" data-toggle="tooltip" title="Iniciar sesión" style="display: block; margin: 0 auto;" href="@Url.Action("Login", "Account")">Iniciar sesión <i class="fa fa-sign-in-alt"></i></a></li>        
    </ul>
}
