@model SIMEDECON.Models.ViewModel.AtletaView
@using SIMEDECON.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Crear Nuevo Atleta";
}

@section Crear_Atleta_Css
{
    <link href="~/Content/dropify.min.css" rel="stylesheet" />
    <!-- Bootstrap Select Css -->
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    @*<link href="~/Recursos/css/notificacion.css" rel="stylesheet" />*@
}
<a id="UrlGetMunicipiosPorDpto" href="@Url.Action("GetMunicipiosPorDpto","Atleta")" hidden></a>
<a id="UrlGetCategoriaDeporte" href="@Url.Action("GetCategoriaDeporte","Atleta")" hidden></a>
<a id="UrlAddCategoryToAthlete" href="@Url.Action("AddCategoryToAthlete","Atleta")" hidden></a>

@using (Html.BeginForm("Crear", "Atleta", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="card card-secondary card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-one-datos-generales-tab" data-toggle="pill" href="#custom-tabs-one-datos-generales" role="tab" aria-controls="custom-tabs-one-datos-generales" aria-selected="true">Datos Generales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-dirrecion-y-correo-tab" data-toggle="pill" href="#custom-tabs-one-dirrecion-y-correo" role="tab" aria-controls="custom-tabs-one-dirrecion-y-correo" aria-selected="false">Dirrecion y Correo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-deporte-Y-categoria-tab" data-toggle="pill" href="#custom-tabs-one-deporte-y-categoria" role="tab" aria-controls="custom-tabs-one-deporte-y-categoria" aria-selected="false">Deporte y Categoria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="custom-tabs-one-datos-extras-tab" data-toggle="pill" href="#custom-tabs-one-datos-extras" role="tab" aria-controls="custom-tabs-one-datos-extras" aria-selected="false">Datos Extras</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-one-datos-generales" role="tabpanel" aria-labelledby="custom-tabs-one-datos-generales-tab">
                <fieldset>
                    <div class="row">
                        <!-- Foto -->
                        <div class="col-md-4">
                            <div class="form-group col-md-12">
                                <div style="text-align:center" class="col-md-12">
                                    <label>Seleccione una fotografia</label>
                                </div>
                                @Html.TextBoxFor(modelo => modelo.ImageFile, new { type = "file", @class = "dropify", @onchange = "previewFile(500,0.1)" })
                            </div>
                        </div>
                        <!-- Datos Iniciales -->
                        <div style="text-align:center" class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-float ">
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Model.Primer_Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;" } })
                                            <label class="form-label">Primer Nombre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Model.Segundo_Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;" } })
                                            <label class="form-label">Segundo Nombre</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Model.Primer_Apellido, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;" } })
                                            <label class="form-label">Primer Apellido</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float ">
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Model.Segundo_Apellido, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;" } })
                                            <label class="form-label">Segundo Apellido</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Model.Edad, new { htmlAttributes = new { @class = "form-control", @onKeyPress = "return soloNumeros(event)", @maxlength = "3", @type = "text" } })
                                            <label class="form-label">Edad</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <div class="form-line">
                                            @Html.EditorFor(model => model.Model.Numero_De_Cedula, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;", @minlength = "16", @maxlength = "16" } })
                                            <label class="form-label">Numero de Cedula</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.Model.Genero, (IEnumerable<SelectListItem>)ViewBag.Genero, "Seleccione Genero", new { @class = "form-control" })
                                    </div>
                                    <label>Genero</label>
                                </div>
                                <div class="col-md-6" id="dvembarazo" style="display:none;">
                                    <div style="text-align:center">
                                        <label>¿Esta embarazada?</label>
                                    </div>
                                    <!-- radio -->
                                    <div class="form-group clearfix">
                                        <div class="icheck-primary d-inline">
                                            @Html.RadioButtonFor(m => m.Model.Embarazo, "Si", new { id = "radio_2" })
                                            @Html.Label("radio_2", "Si")
                                        </div>
                                        <!-- radio -->
                                        <div class="icheck-primary d-inline">
                                            @Html.RadioButtonFor(m => m.Model.Embarazo, "No", new { id = "radio_1" })
                                            @Html.Label("radio_1", "No")
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-dirrecion-y-correo" role="tabpanel" aria-labelledby="custom-tabs-one-dirrecion-y-correo-tab">
                <fieldset>
                    <div style="text-align:center" class="row col-md-12 ">
                        <div class="col-md-4">
                            <div class="form-group form-float ">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Model.Correo_Electronico, new { htmlAttributes = new { @class = "form-control" } })
                                    <label class="form-label">Correo Electronico</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Model.Telefono_Celular, new { htmlAttributes = new { @class = "form-control", @minlength = "8", @maxlength = "8", @onKeyPress = "return soloNumeros(event)" } })
                                    <label class="form-label">Telefono Celular</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Model.Telefono_Convencional, new { htmlAttributes = new { @class = "form-control", @onKeyPress = "return soloNumeros(event)", @minlength = "8", @maxlength = "8" } })
                                    <label class="form-label">Telefono Convencional</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    @Html.EditorFor(model => model.Model.Dirreccion, new { htmlAttributes = new { @class = "form-control", @style = "text-transform: capitalize;" } })
                                    <label class="form-label">Direccion</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownList("DdlDepto", (SelectList)ViewBag.ListaDepartamentos, "Seleccione un departemento", new { @class = "form-control" })
                                @Html.Label("Departamento")
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.Model.Municipio, (SelectList)ViewBag.ListaMunicipios, "Seleccione un Municipio", new { @class = "form-control", @id = "Municipio" })
                                @Html.Label("Municipio")
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-4">
                                <label>¿Tiene Seguro?</label>
                                <!-- radio -->
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        @Html.RadioButtonFor(m => m.Model.Tiene_Seguro, "Si", new { id = "radio17" })
                                        @Html.Label("radio17", "Si")
                                    </div>
                                    <!-- radio -->
                                    <div class="icheck-primary d-inline">
                                        @Html.RadioButtonFor(m => m.Model.Tiene_Seguro, "No", new { id = "radio16" })
                                        @Html.Label("radio16", "No")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="hosp" style="display:none;">
                                <div class="form-group">
                                    @Html.DropDownListFor(x => x.Model.Hospital, SIMEDECON.Controllers.AtletaController.GetDropDown(), new { @class = "form-control" })
                                    @Html.Label("Hospital")
                                </div>
                            </div>
                            <div class="col-md-4" id="hosp">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modalH" class="model_img img-responsive"> Crear Hospital</button>
                            </div>                            
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-deporte-y-categoria" role="tabpanel" aria-labelledby="custom-tabs-one-deporte-Y-categoria-tab">
                <fieldset>
                    <div class="row col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Deporte")
                                <br />
                                @Html.DropDownList("DlDeport", (SelectList)ViewBag.ListaDeportes, "Seleccione un Deporte", new { @class = "form-control p-0" })
                            </div>
                            <div>
                                <span>¿Su categoría no aparece en la lista?</span>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive"> Crear Categoría</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Categoria Por Deporte")
                                <br />
                                @Html.DropDownList("DdlCategoria", Enumerable.Empty<SelectListItem>(), "Seleccione una Categoria", new { @class = "form-control" })
                            </div>
                            <button type="button" class="btn btn-primary" class="model_img img-responsive" onclick="AsociarCategoriaConAtleta()">Agregar categoría</button>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("Categorias seleccionadas")
                                <ul id="CategoriasSeleccionadas" class="list-group"></ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div>
                                <label>Equipamiento Deportivo</label><br>
                                @Html.RadioButtonFor(m => m.equip.equipdep, "Cuenta Con Todo El Equipamiento", new { id = "radio20" })
                                @Html.Label("radio20", "Cuenta Con Todo El Equipamiento")

                                @Html.RadioButtonFor(m => m.equip.equipdep, "Cuenta Con Algun Equipamiento Necesario", new { id = "radio21" })
                                @Html.Label("radio21", "Cuenta Con Algun Equipamiento Necesario")

                                @Html.RadioButtonFor(m => m.equip.equipdep, "No Cuenta Con Equipamiento Alguno", new { id = "radio22" })
                                @Html.Label("radio22", "No Cuenta Con Equipamiento Alguno")
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div>
                                        <label>Relaciones En El Entorno De Entrenamiento Y Competencia</label><br>
                                        <label>Con El Entrenador</label><br>
                                        @Html.RadioButtonFor(m => m.equip.relaentre, "Optimas", new { id = "radio23" })
                                        @Html.Label("radio23", "Optimas")

                                        @Html.RadioButtonFor(m => m.equip.relaentre, "Adecuadas", new { id = "radio24" })
                                        @Html.Label("radio24", "Adecuadas")

                                        @Html.RadioButtonFor(m => m.equip.relaentre, "Inadecuadas", new { id = "radio25" })
                                        @Html.Label("radio25", "Inadecuadas")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="relaentre" style="display:none">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Razon de las relaciones inadecuadas</label><br>
                                        @Html.EditorFor(model => model.equip.ra_ina_entre, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div>
                                        <label>Relaciones En El Entorno De Entrenamiento Y Competencia</label><br>
                                        <label>Con Los Compañeros</label><br>
                                        @Html.RadioButtonFor(m => m.equip.relacompa, "Optimas", new { id = "radio26" })
                                        @Html.Label("radio26", "Optimas")

                                        @Html.RadioButtonFor(m => m.equip.relacompa, "Adecuadas", new { id = "radio27" })
                                        @Html.Label("radio27", "Adecuadas")

                                        @Html.RadioButtonFor(m => m.equip.relacompa, "Inadecuadas", new { id = "radio28" })
                                        @Html.Label("radio28", "Inadecuadas")
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" id="relacompa" style="display:none">
                                <div class="form-group">
                                    <div class="form-line">
                                        <label>Razon de las relaciones inadecuadas</label><br>
                                        @Html.EditorFor(model => model.equip.ra_ina_compa, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="tab-pane fade" id="custom-tabs-one-datos-extras" role="tabpanel" aria-labelledby="custom-tabs-one-datos-extras-tab">
                DE
            </div>
        </div>
    </div>
    <!-- /.card -->
    <div class="card-footer">
        <button type="submit" class="btn btn-info">Sign in</button>
        <button type="submit" class="btn btn-default float-right">Cancel</button>
    </div>
    <!-- /.card-footer -->
</div>

}

@section Crear_Atleta_Script
{    
    <script src="~/Scripts/dropify.min.js"></script>
    @*<script src="~/Recursos/plugins/bootstrap-notify/bootstrap-notify.js"></script>*@
    @*<script src="~/Recursos/js/notificacion.js"></script>*@
    <script src="@Url.Content("~/Scripts/CreateAtle.js")"></script>
    <script src="@Url.Content("~/Scripts/CatDeportAtle.js")"></script>


    <!--Modal Hospital-->
    <script>
        $(document).ready(function () {
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove: 'Supprimer',
                    error: 'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('#input-file-events').dropify();

            drEvent.on('dropify.beforeClear', function (event, element) {
                return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
            });

            drEvent.on('dropify.afterClear', function (event, element) {
                alert('File deleted');
            });

            drEvent.on('dropify.errors', function (event, element) {
                console.log('Has Errors');
            });

            var drDestroy = $('#input-file-to-destroy').dropify();
            drDestroy = drDestroy.data('dropify')
            $('#toggleDropify').on('click', function (e) {
                e.preventDefault();
                if (drDestroy.isDropified()) {
                    drDestroy.destroy();
                } else {
                    drDestroy.init();
                }
            })
        });
    </script>
    <!--Hacer visible/invisible Div Genero-->
    <script type="text/javascript">
        $(function () {
            $('#Model_Genero').on('change', generoFunc);
        });

        function generoFunc() {
            var value = $(this).val();
            if (value == "Femenino") {
                $("#dvembarazo").show();
            }
            else {
                $("#dvembarazo").hide();
            }

        }
    </script>

    @*---------------------*@
    <script type="text/javascript">
        // Solo permite ingresar numeros.
        function soloNumeros(e) {
            var key = window.Event ? e.which : e.keyCode
            return (key >= 48 && key <= 57)
        }
    </script>

    <!--Hacer visible/invisible Div Hospital-->
    <script>
        $(document).ready(function () {
            $("#radio16").click(function () {
                $("#hosp").hide();
            });
            $("#radio17").click(function () {
                $("#hosp").show();
            });
        });
    </script>
    <!--Hacer visible/invisible Div relainadecuada-->
    <script>
        $(document).ready(function () {
            $("#radio23").click(function () {
                $("#relaentre").hide();
            });
            $("#radio24").click(function () {
                $("#relaentre").hide();
            });
            $("#radio25").click(function () {
                $("#relaentre").show();
            });
        });
    </script>
    <!--Hacer visible/invisible Div relainadecuada-->
    <script>
        $(document).ready(function () {
            $("#radio26").click(function () {
                $("#relacompa").hide();
            });
            $("#radio27").click(function () {
                $("#relacompa").hide();
            });
            $("#radio28").click(function () {
                $("#relacompa").show();
            });
        });
    </script>
    <!--Select Dinamico Deporte y Categoria-->
    <script type="text/javascript">
        $(function () {
            $('#select-deporte').on('change', categoriaSelec);
        });

        function categoriaSelec() {
            var Id_deporte = $(this).val();
            //Ajax
            $.get('/api/categoria/' + Id_deporte + '/categoria', function (data) {
                var html_select = '<option value="" disable>==Seleccione una Categoria==</option>';
                for (var i = 0; i < data.length; ++i) {
                    html_select += '<option value="' + data[i].id + '">' + data[i].categoria + '</option>';
                }
                $('#select-categoria').html(html_select);
            });

        }
    </script>
    <!--Select Dinamico Departamento y Muncipio-->
    <script type="text/javascript">
        $(function () {
            $('#select-departamento').on('change', municipioSelec);
        });

        function municipioSelec() {
            var Id_departamento = $(this).val();
            //Ajax
            $.get('/api/municipio/' + Id_departamento + '/municipio', function (data) {
                var html_select = '<option value="" disable>Seleccione un Municipio</option>';
                for (var i = 0; i < data.length; ++i) {
                    html_select += '<option value="' + data[i].ID + '">' + data[i].Nombre + '</option>';
                }
                $('#select-municipio').html(html_select);
            });

        }
    </script>
    <!--Form Hospital-->
    <script type="text/javascript">
        $(document).ready(function () {
            //cuando hagamos submit al formulario con id id_del_formulario
            //se procesara este script javascript
            $("#form_hospital").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("action"),//action del formulario, ej:
                    //http://localhost/mi_proyecto/mi_controlador/mi_funcion
                    type: $(this).attr("method"),//el método post o get del formulario
                    data: $(this).serialize(),//obtenemos todos los datos del formulario
                    error: function () {
                        console.log("");
                    },
                    success: function (data) {
                        console.log("guardado Correctamente");
                        $("#responsive-modalH").modal('hide');
                        toastr.success("Hospital Guardado Correctamente");
                    }
                });
            });
        });
    </script>
    <!--Form Categoria-->
    <script type="text/javascript">
        $(document).ready(function () {
            //cuando hagamos submit al formulario con id id_del_formulario
            //se procesara este script javascript
            $("#form_Categoria").submit(function (e) {
                selector = $("#select-deporte-categoria").val();
                nombre = $("#categoria_nombre").val();
                e.preventDefault();
                // console.log(nombre);
                if (nombre === "" || nombre === " ") {
                    if (selector == 0) {
                        alert("no ha seleccionado un deporte");
                    }
                    $("#div_texto").addClass("focused error");
                }
                else {
                    $.ajax({
                        url: $(this).attr("action"),//action del formulario, ej:
                        //http://localhost/mi_proyecto/mi_controlador/mi_funcion
                        type: $(this).attr("method"),//el método post o get del formulario
                        data: $(this).serialize(),//obtenemos todos los datos del formulario
                        error: function () {
                            console.log(this.responseText);
                        },
                        success: function (data) {
                            //console.log(data);
                            $("#responsive-modal").modal('hide');
                            $('#form_Categoria').trigger("reset");
                            $("#categoria_nombre").blur();

                            //document.getElementById("#form_Categoria").reset();
                            MostrarNotificacion("Succes", "Categoria Guardada Correctamente", data.categoria, "../images/check.png");


                        }
                    });
                }
            });
        });
    </script>
}